@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
.navsync-menu-highlight {
  background-color: #008B8B;
  color: white; }
  .navsync-menu-highlight:hover {
    background-color: #008B8B; }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 12rem;
  width: 100%; }

[class*="entypo-"] {
  text-align: center;
  width: 100%;
  display: block;
  transition: color 0.3s ease-in-out; }
  [class*="entypo-"]:hover {
    color: #008B8B; }

.darkdiv a {
  color: #f7f7f7; }

body {
  background-color: #f7f7f7;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333333; }

form {
  display: inline-block;
  text-align: center; }

.flexcenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.tag {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 4px;
  background-color: #008B8B;
  font-weight: 700;
  color: white; }

.nocaps {
  text-transform: none !important; }

h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }
  h5:after {
    content: ' ';
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bfbfbf;
    height: 1px;
    display: block; }

nav {
  height: 90px;
  background-color: white;
  line-height: 90px;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.03);
  transform: translateZ(0); }

nav a {
  text-decoration: none;
  font-weight: 700;
  padding: 12px 15px 12px 15px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #333333;
  will-change: background-color; }
  nav a:hover {
    color: white;
    background-color: #595959; }

nav h1 {
  display: inline;
  margin: 0;
  font-weight: 600; }

p {
  line-height: 2.6666666667rem;
  color: #595959; }

.right {
  float: right;
  display: inline;
  clear: left; }

.fullscreen {
  min-height: 100vh;
  padding-top: 110px;
  padding-bottom: 110px; }

.darkdiv {
  background-color: #333333; }
  .darkdiv h1, .darkdiv h2, .darkdiv h3, .darkdiv h4, .darkdiv h5 {
    color: #f7f7f7; }
  .darkdiv p {
    color: #919191; }
